# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/
pip-selfcheck.json

# VS Code settings
.vscode/

# Environment variables
.env

# Pytest
.cache/
.pytest_cache/

# Testing coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# PyInstaller
dist/
build/
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy, Pylint, Pyright
.mypy_cache/
.pytype/
.pyright/

# Log files
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
